  p{

    font-family: 'Times New Roman', Times, arial;
  text-decoration: none;
  text-indent: 10px;
  text-transform: capitalize;
  letter-spacing: 5px;
  
  }
  .para1{
font-size: 30px;
font-style: inherit;
line-height: 45px;
text-align: justify;
text-decoration: inherit;
text-decoration: overline;
text-indent: 2em;
word-spacing: 5px;
  }


  .para2{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

  }
  .para3{
    text-shadow: 3px 2px 3px blue; 
    
  }
    

  .blanc{
    color: white;
    background: black;
    border-left-width: 4px;
  }
  .argent{
    color : silver;
    
    border-left-style: 5px;
    border-left-width: 4px;
    border-left-color: darkblue;
  }

  .vert{
    color: green;
    opacity: 0.8;
    border-style: solid;
    border-top-left-radius: 5px;
  }

  h2
  {
    height: 100px;
    width: 500px;
    border-width:2px;
    border-style: solid;
    border-color: chocolate;
    border-radius: 15px;
  }
