  p{

    font-family: 'Times New Roman', Times, arial;
  }
  .para1{
font-size: 30px;
font-style: inherit;
line-height: 45px;
  }


  .para2{
    font-size: 2em;
    font-weight: bold;
  }
  .blanc{
    color: white;
    background: black;
  }
  .argent{
    color : silver
  }

  .vert{
    color: green;
  }

